nav {
  height: 70px;
  padding: 20px 36px;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.nav-logo {
  max-width: 100px;
}

.hero {
  display: flex;
  justify-content: center;
  gap: 32px;
  padding: 22px;
}

.photo-grid {
  max-width: 600px;
}

.text-area {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.text-area h1 {
  font-size: 48px;
  margin: 0;
}

.text-area p {
  font-size: 22px;
  width: 400px;
}



/* width */
::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}